@model IEnumerable<MH_TicketingSystem.Models.TicketPriorityLevelViewModel>
@{
    ViewData["Title"] = "Tickets";
}

<div class="page-inner">
    <div class="page-header">
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a asp-controller="Dashboard" asp-action="Index">
                    <i class="icon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>
            <li class="nav-item">
                <a asp-controller="Ticket" asp-action="Index">Tickets</a>
            </li>
        </ul>
       @*  <div class="ms-md-auto pt-2 py-md-0">
            <a href="#" class="btn btn-primary btn-round">Add Ticket</a>
        </div> *@
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-head-row">
                        <div class="card-title">Support Tickets</div>
                        <div class="card-tools">
                            <ul class="nav nav-pills nav-secondary nav-pills-no-bd nav-sm"
                                id="pills-tab"
                                role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link"
                                       id="pills-today"
                                       data-bs-toggle="pill"
                                       href="#pills-today"
                                       role="tab"
                                       aria-selected="true">Today</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active"
                                       id="pills-week"
                                       data-bs-toggle="pill"
                                       href="#pills-week"
                                       role="tab"
                                       aria-selected="false">Week</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link"
                                       id="pills-month"
                                       data-bs-toggle="pill"
                                       href="#pills-month"
                                       role="tab"
                                       aria-selected="false">Month</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    @foreach (var ticket in Model)
                    {
                        string ticketStatusString = Enum.GetName(typeof(TicketStatus), ticket.TicketStatus); // TicketStatus is required in submitting ticket, so ignore the warning
                        string truncatedDescription = ticket.Description.Length > 50
                        ? ticket.Description.Substring(0, 50) + "..."
                        : ticket.Description;
                        string formattedDate = @ticket.DateTicket.ToString("MMM dd, yyyy h:mm tt");
                        <a asp-controller="Ticket" asp-action="Details" asp-route-id="@ticket.TicketId">
                            <div class="d-flex">
                                <div class="flex-1 ms-3 pt-1">
                                    <h6 class="text-uppercase fw-bold mb-1">
                                        @ticket.Subject.ToUpper()
                                        <span class="text-@ticket.PriorityLevelColor ps-3">@ticketStatusString</span>
                                    </h6>
                                    <span class="text-muted">
                                        @truncatedDescription
                                    </span>
                                    <br />
                                    <small class="text-muted mr-2">
                                        <i class="fa fa-calendar"></i> @ticket.DateTicket.ToString("dd MMM yyyy")
                                    </small>
                                    <small class="text-muted">
                                        <i class="fa fa-comments"></i> 1 replies
                                    </small>
                                    <small class="text-muted mr-2">
                                        <i class="icon-calendar"></i> SLA Deadline @ticket.SLADeadline.ToString("dd MMM yyyy")
                                    </small>
                                </div>
                                <div class="float-end pt-1">
                                    <small class="text-muted mr-1 d-inline-block">#@ticket.TicketNumber</small>
                                    <div class="dropdown d-inline-block">
                                        <button class="btn btn-sm" type="button"
                                                data-bs-toggle="dropdown" aria-expanded="false"
                                                style="background-color: transparent; border: none;">
                                            <i class="fas fa-ellipsis-h"></i>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <form asp-controller="Ticket" asp-action="CloseTicket"
                                                      asp-route-id="@ticket.TicketId" method="post"
                                                      class="d-inline">
                                                    <button type="submit" class="dropdown-item text-danger">
                                                        Close
                                                    </button>
                                                </form>
                                            </li>
                                            <li>
                                                <form asp-controller="Ticket" asp-action="ReOpenTicket"
                                                      asp-route-id="@ticket.TicketId" method="post"
                                                      class="d-inline">
                                                    <button type="submit" class="dropdown-item text-primary">
                                                        Re-Open
                                                    </button>
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <div class="separator-dashed"></div>
                    }

                    <nav aria-label="Ticket page navigation">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">«</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">»</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<!--   Core JS Files   -->
<script src="~/js/core/jquery-3.7.1.min.js"></script>
<script src="~/vendor/toastr/js/toastr.min.js"></script>
<script src="~/js/ticket_pagination.js"></script>
<script>
    $(function () {
    @if (ViewBag.SuccessMessage != null)
    {
        <text>
               toastr.success('@ViewBag.SuccessMessage');
        </text>
    }
    else if (ViewBag.ErrorMessage != null)
    {
        <text>
               toastr.error('@ViewBag.ErrorMessage');
        </text>
    }
        });
</script>