<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewData["Title"] - MH Ticketing System</title>
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
          name="viewport" />
    <link rel="icon"
          href="~/img/21_Center_MetroHealthLogo_White.png"
          type="image/x-icon" />

    <!-- Fonts and icons -->
    <script src="@Url.Content("~/js/plugin/webfont/webfont.min.js")"></script>

    <script>
        WebFont.load({
            google: { families: ["Public Sans:300,400,500,600,700"] },
            custom: {
                families: [
                    "Font Awesome 5 Solid",
                    "Font Awesome 5 Regular",
                    "Font Awesome 5 Brands",
                    "simple-line-icons",
                ],
                urls: ["@Url.Content("~/css/fonts.min.css")"],
            },
            active: function () {
                sessionStorage.fonts = false; // Force reload fonts on every view load
            }
        });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/plugins.min.css" />
    <link rel="stylesheet" href="~/css/kaiadmin.min.css" asp-append-version="true" />
	<link href="~/vendor/toastr/css/toastr.min.css" rel="stylesheet" />

</head>
<body>
    <nav class="navbar navbar-header navbar-expand-lg" data-background-color="dark">
        <div class="container-fluid">

            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                <img src="~/img/03_Left_MetroHealthLogo_White.png"
                     alt="navbar brand"
                     class="navbar-brand"
                     height="55px" width="170px" />
            </a>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarText"
                    aria-controls="navbarText"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav ms-auto">
                    @if (ViewContext.RouteData.Values["controller"]?.ToString() == "Home"
                    && ViewContext.RouteData.Values["action"]?.ToString() == "Create")
                    {
                        <li class="nav-item active">
                            <a class="nav-link text-white" href="#">Create New Ticket</a>
                        </li>
                    }
                    <li class="nav-item @(ViewContext.RouteData.Values["controller"]?.ToString() == "Home" 
                                            && ViewContext.RouteData.Values["action"]?.ToString() == "Index" ? "active" : "")">
                        <a class="nav-link text-white" asp-controller="Home" asp-action="Index">My Area <span class="sr-only">(current)</span></a>
                    </li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item @(ViewContext.RouteData.Values["controller"]?.ToString() == "Dashboard"
                                            && ViewContext.RouteData.Values["action"]?.ToString() == "Index" ? "active" : "")">
                            <a class="nav-link text-white" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                        </li>
                    }
                    <li class="nav-item" style="cursor: pointer;">
                        <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <a class="nav-link text-white border-0" onclick="document.getElementById('logoutForm').submit(); return false;">Logout</a>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>
    

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


