<div class="sidebar" data-background-color="dark">
	<div class="sidebar-logo">
		<div class="logo-header" data-background-color="dark">
			<a asp-controller="Home" asp-action="Index" class="logo">
				<img src="~/img/03_Left_MetroHealthLogo_White.png"
								alt="navbar brand"
								class="navbar-brand"
								height="55px" width="170px" />
			</a>
			<div class="nav-toggle">
				<button class="btn btn-toggle toggle-sidebar">
					<i class="gg-menu-right"></i>
				</button>
				<button class="btn btn-toggle sidenav-toggler">
					<i class="gg-menu-left"></i>
				</button>
			</div>
			<button class="topbar-toggler more">
				<i class="gg-more-vertical-alt"></i>
			</button>
		</div>
	</div>
	<div class="sidebar-wrapper scrollbar scrollbar-inner">
		<div class="sidebar-content">
			<ul class="nav nav-secondary">
				<li class="nav-section">
					<span class="sidebar-mini-icon">
						<i class="fa fa-ellipsis-h"></i>
					</span>
					<h4 class="text-section">General</h4>
				</li>
				<li class="nav-item @(ViewContext.RouteData.Values["controller"]?.ToString() == "Dashboard" 
										&& ViewContext.RouteData.Values["action"]?.ToString() == "Index" ? "active" : "")">
					<a asp-controller="Dashboard" asp-action="Index">
						<i class="fas fa-home"></i>
						<p>Dashboard</p>
					</a>
				</li>
				<li class="nav-item @(ViewContext.RouteData.Values["controller"]?.ToString() == "Ticket" 
										&& ViewContext.RouteData.Values["action"]?.ToString() == "Index" ? "active" : "")">
					<a asp-controller="Ticket" asp-action="Index">
						<i class="fas fa-ticket-alt"></i>
						<p>Tickets</p>
					</a>
				</li>
				<li class="nav-section">
					<span class="sidebar-mini-icon">
						<i class="fa fa-ellipsis-h"></i>
					</span>
					<h4 class="text-section">Administration</h4>
				</li>
				<li class="nav-item @(ViewContext.RouteData.Values["controller"]?.ToString() == "Department" 
										&& ViewContext.RouteData.Values["action"]?.ToString() == "Index" ? "active" : "")">
					<a asp-controller="Department" asp-action="Index">
						<i class="fas fa-hospital"></i>
						<p>Departments</p>
					</a>
				</li>
				<li class="nav-item @(ViewContext.RouteData.Values["controller"]?.ToString() == "User" 
										&& ViewContext.RouteData.Values["action"]?.ToString() == "Index" ? "active" : "")">
					<a asp-controller="User" asp-action="Index">
						<i class="fas fa-users"></i>
						<p>Users</p>
					</a>
				</li>
				<li class="nav-item @(ViewContext.RouteData.Values["controller"]?.ToString() == "Setting" 
										&& ViewContext.RouteData.Values["action"]?.ToString() == "Index" ? "active" : "")">
					<a asp-controller="Setting" asp-action="Index">
						<i class="fas fas fa-cogs"></i>
						<p>System Setup</p>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
